<!DOCTYPE html>
<html lang="en" data-theme="aqua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.13.6/dist/full.css" rel="stylesheet" type="text/css" />
    <title>The Technology Blog</title>
</head>
<body>
       <div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">The Technology Blog</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a>Home</a></li>
      <li tabindex="0">
      <li><a>Dashboard</a></li>
      <li><a>Login</a></li>
    </ul>
  </div>
</div>
<main class = "bg-base-200 min-h-screen">
    {{{body}}}
</main>
  <script src="https://cdn.tailwindcss.com"></script>  
</body>
</html>